<%= flash[:notice] %>
<%= render 'public/users/userprofile', user:current_user, post:Post.new %>

<div class="col-md-7 offset-md-2">
  <h2>記録の閲覧</h2>
    <table class="table table-hover table-inverse">
      <tbody> 
        <tr>
          <td>
            <%#= link_to user_path do %>
              <%#= image_tag @user.get_profile_image(80,80) %>
            <%#end%>
            <%= link_to user_path do %>
              <%= @user.name %>
            <%end%>
          </td>
          <td>
            <%= @post.title %>
          </td>
          <td>
            <%= @post.body %>
          </td>
          <td>
            <% if @post.user == current_user %>
              <%= link_to "編集", edit_post_path(@post.id),class:"btn btn-success" %>
            <%end%>
          </td>
          <td>
            <% if @post.user == current_user %>
              <%= link_to "削除",post_path(@post.id), method: :delete,class:"btn btn-danger","data-confirm" => "この記録を消しますか？"  %>
            <%end%>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>