<%= flash[:notice] %>

<%= render 'public/users/userprofile',user:@user, post_datum:@post_datum %>

 <div class="col-md-7 offset-md-2">
         <h2>冒険の記録</h2>
         <table class="table table-hover table-inverse">
            <thead>
             <tr>
                <th></th>
                <th>タイトル</th>
                <th>感想</th>
                <th class="col-3"></th>
             </tr>
            </thead>

         <tbody>
             <% @user.post_data.each do |f| %>
          <tr>
           <td>
             <%= link_to post_datum_path do %>
             <%= image_tag @user.get_image(80,80) %>
             <%end%>
           </td>
           <td>
             <%= link_to post_datum_path(f.id) do %>
              <div style="width:150px; word-wrap: break-word;"><%= f.title %></div>
             <%end%>
            </td>
           <td class="introductionbody">
              <div style="width:280px; word-wrap: break-word;"><%= f.body %></div>
           </td>
          </tr>
         <%end%>
         <%#= paginate post_data %>
         </tbody>
         </table>
         </div>
</div>
</div>